<div class="columns">

<div class="column is-6 is-offset-3">
<div class="content main-content">
<p>
  Greetings, and welcome to my page!
</p>
<p>
  I'm <strong>Aditya Bharadwaj</strong> and i live in <a  target="_blank" href="https://en.wikipedia.org/wiki/Bangalore">Bangalore</a>.
  I build software for a living, and have been doing it for over a decade.
  I currently work at <a target="_blank" href="https://www.capillarytech.com/">Capillary Technologies</a>.
</p>
<p>
  I love to ride, indulge in photography and play games.
</p>
<!--p>You can reach out to me or watch me in action on these <a href="/about-me">channels</a></p-->
<app-about-me></app-about-me>
</div>
</div>
</div>