You can find me online at:
<ul>
  <li>
    <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/aditya-bharadwaj-29390432/">Linkedin</a>
  </li>
  <li>
      <a target="_blank" rel="noopener" href="https://stackoverflow.com/users/1567678/aditya">Stack Overflow</a>
  </li>
  <li>
      <a target="_blank" rel="noopener" href="https://github.com/bharadwaj-aditya/">Github</a>
  </li>  
  <li>
    <a target="_blank" rel="noopener" href="https://twitter.com/a_rurouni">Twitter</a>
  </li>
</ul>
<p>Or drop me a note via <a target="_blank" href="mailto:info@adityabharadwaj.net">email</a></p>
