<h2>You can find me at: </h2>
<ul>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/aditya-bharadwaj-29390432/">Linkedin</a></h3>
  </li>
  <li>
      <h3><a target="_blank" rel="noopener" href="https://stackoverflow.com/users/1567678/aditya">Stackoverflow</a></h3>
  </li>
  <li>
      <h3><a target="_blank" rel="noopener" href="https://github.com/bharadwaj-aditya/">Github</a></h3>
  </li>  
  <li>
    <h3><a target="_blank" rel="noopener" href="https://twitter.com/a_rurouni">Twitter</a></h3>
  </li>
</ul>
<p></p>
